@import "tailwindcss";

:root {
  --background: #f6f9f6;
  --foreground: #171717;
  --primary: #0a6847;
  --accent: #09b36a;
  --error: #d64545;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-error: var(--error);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
